*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Josefin Sans", sans-serif !important;
}

.login-main{
  display: flex;
  height: 90vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  
}

.login-child{
  background-color: white;
  height: 90vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b{
  background-color: transparent ;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  border-radius: 10px;
  width: 25vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 1.5s fadeInUp;
}
@keyframes fadeInUp {
  0% {
    transform: translateY(5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}


label{
  font-size: 22px;
 

}
input::placeholder {
  font-size: 14px;
  font-weight: bold;
  opacity: 0.5;
  color: gray;
  padding: 5px;
  
}
.shake {
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);

  animation: shake 0.5s ease-in-out forwards;
  animation-iteration-count: 1;
}


@keyframes shake {
  0% { transform: translateX(-10px); }
  25% { transform: translateX(10px); }
  50% { transform: translateX(-10px); }
  75% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s;
}


@media only screen and (max-width: 1200px) {
  .login-main{
    display: flex;
    height: 90vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    
  }
  
  .login-child{
    background-color: rgb(255, 255, 255);
    height: 90vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .b{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    padding: 24px;
    border-radius: 10px;
    width: 40vw;
    height: 90%;
    
}

.b form{
  min-height: 100%;
}
}

@media only screen and (max-width: 600px) {
  input{
    margin: 6px 0px 5px 0px;
  }
  .login-main{
    display: flex;
    height: 88vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    
  }
  
  .login-child{
    background-color: rgb(255, 255, 255);
    height: 88vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .b{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    padding: 30px;
    border-radius: 10px;
    width: 78vw;
    height: 72%;
    
}

.b form{
  min-height: 100%;
}


}
